<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Joint State Publisher -->
  <xacro:macro name="ota_joints_state_publisher">    
  	<gazebo>
         <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <robotNamespace></robotNamespace>
<!--            <jointName>caster_front_left_joint,caster_front_right_joint,caster_back_left_joint,caster_back_right_joint,caster_front_left_wheel_joint,caster_front_right_wheel_joint,caster_back_left_wheel_joint,caster_back_right_wheel_joint</jointName>-->
            <joint_name>caster_front_left_joint</joint_name>
            <joint_name>caster_front_right_joint</joint_name>
            <joint_name>caster_back_left_joint</joint_name>
            <joint_name>caster_back_right_joint</joint_name>
            <joint_name>caster_front_left_wheel_joint</joint_name>
            <joint_name>caster_front_right_wheel_joint</joint_name>
            <joint_name>caster_back_left_wheel_joint</joint_name>
            <joint_name>caster_back_right_wheel_joint</joint_name>
            <updateRate>50.0</updateRate>
            <alwaysOn>true</alwaysOn>
         </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Differential Drive Plugin-->
  <xacro:macro name="ota_diff_drive" params="base_link">
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <robotNamespace>/</robotNamespace>
        <publishOdomTF>true</publishOdomTF>
        <publishWheelJointState>true</publishWheelJointState>
        <alwaysOn>true</alwaysOn>
        <leftJoint>wheel_right_base</leftJoint>
        <rightJoint>wheel_left_base</rightJoint>
        <wheelSeparation>0.60</wheelSeparation>
        <wheelDiameter>0.20</wheelDiameter>
        <wheelTorque>20</wheelTorque>
        <wheelAcceleration>1.8</wheelAcceleration>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometrySource>world</odometrySource>
        <robotBaseFrame>${base_link}</robotBaseFrame>
	      <legacyMode>true</legacyMode>
	      <publishTf>true</publishTf>
        <updateRate>50.0</updateRate>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>

