<?xml version='1.0'?>

<launch>

	<!-- Robot State Publisher -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find rokos_description)/urdf/right_rokos.urdf" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
	
	<!-- Joint State Publisher -->
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>



</launch>
