<?xml version="1.0"?>
<launch>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="xacro  '$(find mobile_manipulator_description)/urdf/mobile_manipulator.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="robot_description" command="xacro  '$(find mobile_manipulator_description)/urdf/mobile_manipulator.urdf.xacro'" />
  </node>
</launch>
