<?xml version="1.0"?> 
<robot xmlns:xacro="http://ros.org/wiki/xacro"> 

<xacro:macro name="trans" params="number">

  <transmission name="$join${number}_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="joint${number}_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="joint${number}">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

</xacro:macro>

<xacro:trans number="1"/>
<xacro:trans number="2"/>
<xacro:trans number="3"/>
<xacro:trans number="4"/>
<xacro:trans number="5"/>
<xacro:trans number="6"/>



  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_finger_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<gazebo>
             <!-- loading plugin: mimic joints works in gazebo now-->
             <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_right_finger_joint">
                <joint>left_finger_joint</joint>
                <mimicJoint>right_finger_joint</mimicJoint>
                <multiplier>1.0</multiplier>
            </plugin>
            
        </gazebo>


  <!--transmission name="tran8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_finger_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor8">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission-->

</robot>
