<robot
  name="SCHUNK_0310960_EGP_50_N_N_B_00ohne">
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="0.00033804 0.047171 -1.0826E-05"
        rpy="0 0 0" />
      <mass
        value="0.00013753" />
      <inertia
        ixx="1.1626E-09"
        ixy="-8.8115E-10"
        ixz="-5.105E-13"
        iyy="1.3529E-09"
        iyz="-3.4527E-13"
        izz="2.4163E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/gripper.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="-0.011674 2.3949E-05 0.001925"
        rpy="0 0 0" />
      <mass
        value="1.2828E-05" />
      <inertia
        ixx="3.4357E-10"
        ixy="-3.1568E-10"
        ixz="3.132E-11"
        iyy="5.5867E-10"
        iyz="3.6709E-11"
        izz="8.9405E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="fixed">
    <origin
      xyz="-0.017 0 0.1184"
      rpy="1.5708 0 3.1416" />
    <parent
      link="gripper" />
    <child
      link="left_finger" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="-0.010879 0.00053046 0.0018786"
        rpy="0 0 0" />
      <mass
        value="1.2547E-05" />
      <inertia
        ixx="1.9533E-10"
        ixy="-8.4996E-11"
        ixz="1.0163E-11"
        iyy="1.9588E-10"
        iyz="2.3227E-11"
        izz="3.8549E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCHUNK_0310960_EGP_50_N_N_B_00ohne/meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="fixed">
    <origin
      xyz="0.017 0 0.1184"
      rpy="1.5708 0 0" />
    <parent
      link="gripper" />
    <child
      link="right_finger" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>